<!DOCTYPE html>
<html>
    <head>
        <div style="width: 1160px; height: 85px;">
            <img src="https://lh4.googleusercontent.com/L83j1rXXGC1Rd_GncMMxonDHWcbL2itCveV13nvx857bai1iBEXAag772hG7-yMwtNk=w2400" height=70px width=70px style="float: left;">
            <a class="navbuttons" href="homepage.html">Home</a>
            <a class="navbuttons">Notes</a>
            <a class="navbuttons">Game</a>
            <a class="navbuttons" style="float: right;">Login/Register</a>
        </div>
        <link href="../static/css/style.css" rel="stylesheet">
    </head>
    <body>
        <div id="aboutuspara">
            <p>We are a team of JC friends hoping to reignite the fun in learning. Having worked together on countless notes and materials, and having the interest in game development, we hope to further this project.</p>
        <p> </p>
        <p> </p>
            <p>We are currently using ReactJS to launch an alpha version of the website with limited gamification. Afterwards, we will expand towards creating an interactive town-like game likely using 3js. Our long term plan is to establish an international community of students.</p>
        </div>
    </body>
</html>