<!DOCTYPE html>
<html>
    <head>
        <link href="../static/css/style.css" rel="stylesheet">
        <div class="navbar">
            <img src="https://lh4.googleusercontent.com/L83j1rXXGC1Rd_GncMMxonDHWcbL2itCveV13nvx857bai1iBEXAag772hG7-yMwtNk=w2400" height=70px width=70px style="float: left;">
            <a class="navbuttons" href="homepage.html">Home</a>
            <a class="navbuttons">Notes</a>
            <a class="navbuttons">Game</a>
            <a class="navbuttons" style="float: right;">Login/Register</a>
        </div>
    </head>
    <body>
        <div id="aboutuspara">
            <p>We are a team of JC friends hoping to reignite the fun in learning. Having worked together on countless notes and materials, and having the interest in game development, we hope to further this project.</p>
        <p> </p>
        <p> </p>
            <p>We are currently using ReactJS to launch an alpha version of the website with limited gamification. Afterwards, we will expand towards creating an interactive town-like game likely using 3js. Our long term plan is to establish an international community of students.</p>
        </div>
        <div>
            <h1 class="titles">ABOUT US</h1>
            <img src="https://lh3.googleusercontent.com/Y5vglKhQaK238htyawArddaz-pHPnheIb6e0cxoWeNt9Gq6G-mdyH4UW63JJljusbwI=w2400" width=20% height=20% style="margin-left: 273px;" alt="student">
            <p><a class="big-button" style="margin-left: 327px;" href="the_team.html">The Team</a></p>
        </div>
    </body>
</html>