<!DOCTYPE html>
<html>
    <head>
        <link href="../static/css/style.css" rel="stylesheet">
    </head>

    <body>
        <div class="inv_title">
            <a class="playerinv">PLAYER12'S INVENTORY: 403</a>
        </div>

        <div class="inv_main">
            <div class="inv_bar">
                <button class="leftbar" style="padding: 24px 29px;">ALL</button>
                <button class="leftbar" style="padding: 24px 17.5px;">SWEETS</button>
                <button class="leftbar" style="padding: 24px 14.5px;">SAVOURY</button>
                <button class="leftbar" style="padding: 24px 25.5px;">PETS</button>
                <button class="leftbar" style="padding: 24px 9px;">MATERIALS</button>
                <button class="leftbar" style="padding: 24px 10px;">LIMITED EDITION</button>
            </div>
            
            <div class="scrolldiv"></div>

            <div class="inv_body scroll">
                <div style="margin: 15px 7px; margin-right: -5px; text-align: left;">
                    <img src="https://lh3.googleusercontent.com/z-TeexH8-KFIeSngnEzFySgKHtrbe35Nq_eNPg3W8CsnNPWQsgNJhrVOadR5K4V5bHc=w2400" width=90px height=90px class="inv_main_icon"><a class="itemno-b">99</a>
                    <img src="https://lh3.googleusercontent.com/z-TeexH8-KFIeSngnEzFySgKHtrbe35Nq_eNPg3W8CsnNPWQsgNJhrVOadR5K4V5bHc=w2400" width=90px height=90px class="inv_main_icon"><a class="itemno-b">99</a>
                    <img src="https://lh3.googleusercontent.com/z-TeexH8-KFIeSngnEzFySgKHtrbe35Nq_eNPg3W8CsnNPWQsgNJhrVOadR5K4V5bHc=w2400" width=90px height=90px class="inv_main_icon"><a class="itemno-b">99</a>
                    <img src="https://lh3.googleusercontent.com/z-TeexH8-KFIeSngnEzFySgKHtrbe35Nq_eNPg3W8CsnNPWQsgNJhrVOadR5K4V5bHc=w2400" width=90px height=90px class="inv_main_icon"><a class="itemno-b">99</a>
                    <img src="https://lh3.googleusercontent.com/z-TeexH8-KFIeSngnEzFySgKHtrbe35Nq_eNPg3W8CsnNPWQsgNJhrVOadR5K4V5bHc=w2400" width=90px height=90px class="inv_main_icon"><a class="itemno-b">99</a>
                    <img src="https://lh3.googleusercontent.com/z-TeexH8-KFIeSngnEzFySgKHtrbe35Nq_eNPg3W8CsnNPWQsgNJhrVOadR5K4V5bHc=w2400" width=90px height=90px class="inv_main_icon"><a class="itemno-b">99</a>
                    <img src="https://lh3.googleusercontent.com/z-TeexH8-KFIeSngnEzFySgKHtrbe35Nq_eNPg3W8CsnNPWQsgNJhrVOadR5K4V5bHc=w2400" width=90px height=90px class="inv_main_icon"><a class="itemno-b">99</a>
                    <img src="https://lh3.googleusercontent.com/z-TeexH8-KFIeSngnEzFySgKHtrbe35Nq_eNPg3W8CsnNPWQsgNJhrVOadR5K4V5bHc=w2400" width=90px height=90px class="inv_main_icon"><a class="itemno-b">99</a>
                    <img src="https://lh3.googleusercontent.com/z-TeexH8-KFIeSngnEzFySgKHtrbe35Nq_eNPg3W8CsnNPWQsgNJhrVOadR5K4V5bHc=w2400" width=90px height=90px class="inv_main_icon"><a class="itemno-b">99</a>
                    <img src="https://lh3.googleusercontent.com/z-TeexH8-KFIeSngnEzFySgKHtrbe35Nq_eNPg3W8CsnNPWQsgNJhrVOadR5K4V5bHc=w2400" width=90px height=90px class="inv_main_icon"><a class="itemno-b">99</a>
                    <img src="https://lh3.googleusercontent.com/z-TeexH8-KFIeSngnEzFySgKHtrbe35Nq_eNPg3W8CsnNPWQsgNJhrVOadR5K4V5bHc=w2400" width=90px height=90px class="inv_main_icon"><a class="itemno-b">99</a>
                </div>
            </div>

            <div class="inv_itemexp">
                <img src="https://lh3.googleusercontent.com/z-TeexH8-KFIeSngnEzFySgKHtrbe35Nq_eNPg3W8CsnNPWQsgNJhrVOadR5K4V5bHc=w2400" width="25%" height="20%" style="margin-top: 10px; margin-left: 10px;">
                <div style="width: 180px; float:right; margin-right: 10px; border-bottom: 3px solid #112242; margin-top: 25px;">
                    <a class="itemname">GAME CONSOLE</a>
                </div>
                <div style="width: 180px; float:right; margin-right: 10px; margin-top: -40px;">
                    <a class="itemname">OWN: 5</a>
                </div>
                <div style="height: 220px; width: 257px; border: 2px solid #112242; margin-left: 10px; margin-top: 5px;">
                    <div style="margin: 10px;">
                    <a class="itemexp" id="underline">Limited Edition</a>
                    <p class="itemexp" style="margin-top: 10px;">Items to be used in the main game to boost XP by 1000 (placeholder description)</p>
                    </div>
                </div>
                <a class="trade" style="margin-left: 53px; margin-top: 15px;"> TRADE</a>
                <a class="use" style="margin-left: 10px;"> USE</a>
            </div>
        </div>

        <a class="back" style="margin-top: 20px; float: right; margin-right: 25px;" href="homepage.html">BACK</a>
    
    </body>
</html>