<!DOCTYPE html>
<html>
    <head>
        <div style="width: 1160px; height: 85px;">
            <img src="https://lh4.googleusercontent.com/L83j1rXXGC1Rd_GncMMxonDHWcbL2itCveV13nvx857bai1iBEXAag772hG7-yMwtNk=w2400" height=70px width=70px style="float: left;" alt="tidbit logo">
            <a class="navbuttons" href="homepage.html">Home</a>
            <a class="navbuttons">Notes</a>
            <a class="navbuttons">Game</a>
            <a class="navbuttons" style="float: right;">Login/Register</a>
        </div>
        <link href="../static/css/style.css" rel="stylesheet">
    </head>
    <body>
        <div class="leftbody">
            <p class="titles" id="txt-align-l">Welcome to Tidbits!</p>
            <p>We're an online gamified community for the sharing of student resources</p>
            <a class="big-button" href="aboutus.html" style="margin-top: 26px;">About Us</a>
        </div>
        <div class="rightbody">
            <div id="bluebackg"></div>
            <img src="https://lh6.googleusercontent.com/b5LFQ8Vej6ciZU-4e4DYokplP31vcuFbNQ3sFeOoHE61M_ntg1-Se6BbaLq4bm1Ppig=w2400" height=70% width=70% class="pizzaimage" alt="pizza slice">
        </div>
    </body> 
</html>