{% from "components.html" import newComponent, navBar %}
<head>
    <title>balls_roll</title>
    <link href="../static/css/style.css" rel="stylesheet">
</head>

<body>
    <div>
        {{ navBar({'Home': '1', 'Notes': '2', 'Game': '3'}, {'Login/Register': '4'}) }}
    </div>

    <!-- Refer to components.html for macros -->  

    {{ newComponent('Insert Text') }}

    <h1 class="titles">Welcome to Tidbits!</h1>
    We are an online gamified community for the sharing of student resources
    <p>
        <a class="navbuttons">Home</a>
        <a class="navbuttons">Notes</a>
        <a class="navbuttons">Game</a>
    </p>
    <p class="big-button">About Us</p>
    <p>
        <h1 class="titles">Meet the Team</h1>
        <p class="teamnames">Chen Jingwen</p>
        <p class="teamroles">Head of Design</p>
    </p>
    <p>
        <p class="signin">SIGN IN</p>
    </p>

</body>