

<!DOCTYPE html>
<html>
    <body>
        <!-- another megacontainer div to link tidbits logo and left side tgt-->
        <div class="megacontainer">
        <div class="container">
        <div class="withincontainer">
            
            <a class="signin" style="font-family: 'Gameplay'">SIGN IN</a><span class="span1">
            <div class="loginclass">
            <a class="login">Username</a>
            <input type="text" class="fusername" name="fusername"><span class="span1">
            </div>

            <div class="passwordclass">
            <a class="login">Password</a>
            <input type="text" class="fpassword" name="fpassword"><span class="span2">
            </div>

            <div class="kmliclass">
            <input type="checkbox" >
            <a class="login">Keep me logged in</a><span class="span2">
            </div>

            <div class="buttonsclass">
            <a class="signin-button">SIGN IN</a>
             <img src="https://cdn1.iconfinder.com/data/icons/google-s-logo/150/Google_Icons-09-1024.png"  class="googlelogo" alt="google logo">
            <a class="signin-goo">Sign in with Google</a>
            </div>

        </div>
        
        <div class="registerclass">
            <a class="register">Register</a>
        </div>
        
        </div>

        <div class ="container2">
            <button class="dropdownmenu">
                  <img src="https://cdn1.iconfinder.com/data/icons/ionicons-fill-vol-2/512/menu-512.png" class="buttonmenu">
            </button>
            
            <img src="https://lh4.googleusercontent.com/L83j1rXXGC1Rd_GncMMxonDHWcbL2itCveV13nvx857bai1iBEXAag772hG7-yMwtNk=w2400" class="tidbitslogo" alt="tidbit logo">


            
        </div>
        </div>

        <link href="../static/css/style.css" rel="stylesheet">
        
       

    </body>
    
</html>
