<!DOCTYPE HTML>
<html>
    <head>
        <!-- no nav bar yet-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../static/css/style.css" rel="stylesheet">
    </head>
    <body>
        <div class="megacontainer">
        <div class="Container">
        <div class="withincontainer2">
            <div class="upload">
              <h3 class="uploadnotes" style="font-family: 'Gameplay'">UPLOAD YOUR NOTES</h3>
            </div>
            <div class="infoboxes">
                <input type="text" name="usernameu" placeholder="Username">
                <input type="text" list="subjects" placeholder="Select subject" />
                <datalist id="subjects">
                    <option value="Literature">Literature</option>
                    <option value="Music">Music</option>
                    <option value="Physics">Physics</option>
                    <option value="Math">Mathematics</option>
                    <option value="Computing">Computing</option>
                    <option value="Geog">Geography</option>
                    <option value="GeneralPaper">General Paper</option>
                    <option value="ProjectWork">Project Work</option>
                    <option value="Chinese">Chinese</option>
                    <option value="Malay">Malay</option>
                    <option value="Tamil">Tamil</option>
                    <option value="French">French</option>
                    <option value="German">German</option>
                    <option value="Japanese">Japanese</option>
                    <option value="CLL">Chinese Language and Literature</option>
                    <option value="CSC">China Studies (Chinese)</option>
                    <option value="ELL">English Language and Linguistics</option>
                    <option value="Economics">Economics</option>
                    <option value="History">History</option>
                    <option value="Art">Art</option>
                    <option value="Biology">Biology</option>
                    <option value="Chemistry">Chemistry</option>
                    <option value="FurtherMath">Further Mathematics</option>
            </div>
        </div>
        </div>
        <div class="Container2">
        <!-- <div class="browse" style="margin-left: 20vh; transform: translateY(5vh); background-color: #00205d;"> -->
            <div class="browsetitle">
              <h1 class="titlessmallwhite">BROWSE OUR</h1>
              <h1 class="titlessmallwhite">NOTES HERE</h1>
            </div>
            <p><a class="biggest-button" href="">JUNIOR HIGH</a></p>
            <p><a class="biggest-button2" href="">SENIOR HIGH</a></p>
        </div>
        </div>
    </body>
</html>