<!DOCTYPE HTML>
<html>
    <head>
        <!-- no nav bar yet-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../static/css/style.css" rel="stylesheet">
    </head>
    <body>
        <div class="megacontainer3">
        <div class="container3">
        <div class="withincontainer3">
            <input type="text" class="searchbar">
            <img src="https://lh5.googleusercontent.com/CclV9TG_o4X41YmViCXrX2BgIrzXJrcuF5Q3t8TSrlikBRALb3vCQXngbBy8SeMnDqQ=w2400" class="searchbarimg" alt="magnifying-glass-image">        </div>
        <div class="popularsubjs">
            <div>
            <h1 style="font-family: 'DisposableDroidBB'" class="popsubj">POPULAR SUBJECTS:</h1>
            </div>
            <div class="left">
            <p class="subject">H1 General Paper</p>
            <p class="subject">H1 General Paper</p>
            </div>
            <div class="mid">
            <p class="subject">H1 General Paper</p>
            <p class="subject">H1 General Paper</p>
            </div>
            <div class="right">
            <p class="subject">H1 General Paper</p>
            <p class="subject">H1 General Paper</p>
            </div>
        </div>
        </div>
        </div>
    </body>
</html>