<!DOCTYPE HTML>
<html>
    <head>
        <!-- no nav bar yet-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../static/css/style.css" rel="stylesheet">
    </head>
    <body>
        <div class="megacontainer3">
        <div class="navcontainer">

        </div>
        <div class="container3">
        <div class="withincontainer3">
            <form>
                <input type="text" class="searchbar" required autofocus>
                <input type="image" class="searchbarimg" src="https://lh5.googleusercontent.com/3RJOhQ5tnPDvG9eHRH-EWG-9Koz-zlRfBZ7z5yB7juOeNWV3fhlEyJJvgEnuBJFkmak=w2400" alt="submit"> 
            </form>
        </div>
        <div class="popularsubjs">
            <div>
            <h1 style="font-family: 'DisposableDroidBB'" class="popsubj">POPULAR SUBJECTS:</h1>
            </div>
            <div class="left">
                <a herf=''><p class="subject">H1 General Paper</p></a>
                <a herf=''><p class="subject">H1 General Paper</p></a>
            </div>
            <div class="mid">
                <a herf=''><p class="subject">H1 General Paper</p></a>
                <a herf=''><p class="subject">H1 General Paper</p></a>
            </div>
            <div class="right">
                <a herf=''><p class="subject">H1 General Paper</p></a>
                <a herf=''><p class="subject">H1 General Paper</p></a>
            </div>
        </div>
        <div class="imgofstudents">
            <div class="boreddude">
                <img src="https://lh5.googleusercontent.com/TWC7O66Gcsxmc4UDZ-OrFhX1QDktxYZTqMLKsYRbzv66B5E2_ld0fw5NCTVfhCDWh9k=w2400" class="searchstudentimgbored" alt="student-avatar">
            </div>
            <div class="winkingdude">
                <img src="https://lh5.googleusercontent.com/hZjRTWtlL4f2Q0tZvEVl4KDNvOpWcVQs36QKEt2H4Vwej6WJXsSm33H1tje8y-XOSKo=w2400" class="searchstudentimgwink" alt="student-avatar">
            </div>
        </div>
        </div>

        </div>
        </div>
    </body>
</html>