<!DOCTYPE HTML>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/static/css/style.css" rel="stylesheet">
    </head>
    <body>
        <div class="megacontainer3">
        <div class="navcontainer">
            <div class="tidbits-logo-pic">
                <img src="https://lh3.googleusercontent.com/w70JyEPVfIoNz9p_XIu3CDSs94m1L2meA9u9po8fDzeCG1xcr2MhP_PiKeUN_5v2psA=w2400" class="tidbits-logo" alt="tidbits-logo">
            </div>
            <div class="nav-options">
                <a style="text-decoration:none" href=""><p class="nav-profile">Profile</p></a>
                <a style="text-decoration:none" href=""><p class="nav-inventory">Inventory</p></a>
                <a style="text-decoration:none" href=""><p class="nav-notes">Notes</p></a>
                <a style="text-decoration:none" href=""><p class="nav-home">Home</p></a>
            </div>
        </div>

        <div class="container4">
        <div class="withincontainer4">
            <form>
                <input type="text" class="searchbar" required autofocus>
                <input type="image" class="searchbarimg" src="https://lh5.googleusercontent.com/3RJOhQ5tnPDvG9eHRH-EWG-9Koz-zlRfBZ7z5yB7juOeNWV3fhlEyJJvgEnuBJFkmak=w2400" alt="submit"> 
            </form>
        </div>
        <div class="search-results">
            <div class="search-results-title">
                <p>Results for what you searched for:</p>
            </div>
            <div class="search-results-display">
                <div class="indiv-search-results">
                    <a style="text-decoration:none" href="">
                    <h1 class="title-of-notes">Title of Notes</h1>
                    <p class="description-of-notes">Brief Description of Notes</p>
                    <p class="no-of-upvotes">Number of uploads</p>
                    <p class="username-of-upvotes">Usename of person who uploaded</p>
                    </a>
                </div>
                <div class="indiv-search-results">
                    <a style="text-decoration:none" href="">
                    <h1 class="title-of-notes">Title of Notes</h1>
                    <p class="description-of-notes">Brief Description of Notes</p>
                    <p class="no-of-upvotes">Number of uploads</p>
                    <p class="username-of-upvotes">Usename of person who uploaded</p>
                    </a>
                </div>
                <div class="indiv-search-results">
                    <a style="text-decoration:none" href="">
                    <h1 class="title-of-notes">Title of Notes</h1>
                    <p class="description-of-notes">Brief Description of Notes</p>
                    <p class="no-of-upvotes">Number of uploads</p>
                    <p class="username-of-upvotes">Usename of person who uploaded</p>
                    </a>
                </div>
            </div>
        </div>
        </div>
        </div>
    </body>
</html>