<!DOCTYPE HTML>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../static/css/style.css" rel="stylesheet">
    </head>
    <body>
        <div class="megacontainer1">
        <div class="navcontainer">
            <div class="tidbits-logo-pic">
                <img src="https://lh3.googleusercontent.com/w70JyEPVfIoNz9p_XIu3CDSs94m1L2meA9u9po8fDzeCG1xcr2MhP_PiKeUN_5v2psA=w2400" class="tidbits-logo" alt="tidbits-logo">
            </div>
            <div class="nav-options">
                <a style="text-decoration:none" href=""><p class="nav-profile">Profile</p></a>
                <a style="text-decoration:none" href=""><p class="nav-inventory">Inventory</p></a>
                <a style="text-decoration:none" href=""><p class="nav-notes">Notes</p></a>
                <a style="text-decoration:none" href=""><p class="nav-home">Home</p></a>
            </div>
        </div>
            <div class="Container1">
                <div class="withincontainer1">
                    <div class="donatetitle">
                        <h1 class="titlessmall">DONATE YOUR</h1>
                        <h1 class="titlessmall">NOTES HERE</h1>
                    </div>
                    <img src="https://lh6.googleusercontent.com/cuFtbzpkHc172IMXkK21sHBvkYlxkQiyrffX5-N7LAl-O_SZZROLo9Ln2PqKMqhB5bI=w2400" class="bookspic" alt="textbooks_pic">
                    <p><a class="big-big-button">UPLOAD</a></p>
                </div>
            </div>
            <div class="Container2">
                <div class="withincontainer12">
                    <div class="browsetitle">
                        <h1 class="titlessmallwhite">BROWSE OUR</h1>
                        <h1 class="titlessmallwhite">NOTES HERE</h1>
                    </div>
                    <p><a class="biggest-button" href="">JUNIOR HIGH</a></p>
                    <p><a class="biggest-button2" href="">SENIOR HIGH</a></p>
                </div>
            </div>
        </div>
    </body>
</html>