<!DOCTYPE HTML>
<html>
    <head>
        <!-- no nav bar yet-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../static/css/style.css" rel="stylesheet">
    </head>
    <body>
        <div class="mainnotes">
            <div class="upload" style="margin: 0; transform: translateY(5vh);">
                <h1 class="titlessmall">DONATE YOUR</h1>
                <h1 class="titlessmall">NOTES HERE</h1>
                <img src="https://lh6.googleusercontent.com/cuFtbzpkHc172IMXkK21sHBvkYlxkQiyrffX5-N7LAl-O_SZZROLo9Ln2PqKMqhB5bI=w2400" class="bookspic" alt="textbooks_pic">
                <p><a class="big-big-button" style="transform: translateX(25vh);" href="">UPLOAD</a></p>
            </div>

            <div class="browse" style="margin-left: 20vh; transform: translateY(5vh); background-color: #00205d;">
                <h1 class="titlessmallwhite">BROWSE OUR</h1>
                <h1 class="titlessmallwhite">NOTES HERE</h1>
                <p><a class="biggest-button" style="transform: translateX(0vh);" href="">JUNIOR HIGH</a></p>
                <p><a class="biggest-button" style="transform: translateX(0vh);" href="">SENIOR HIGH</a></p>
            </div>
        </div>
    </body>
</html>