<!DOCTYPE HTML>
<html>
    <head>
        <!-- no nav bar yet-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../static/css/style.css" rel="stylesheet">
    </head>
    <body>
        <div class="megacontainer">
        <div class="Container">
        <div class="withincontainer2">
            <div class="upload">
              <h2 class="uploadnotes" style="font-family: 'DisposableDroidBB'">UPLOAD YOUR NOTES</h2>
            </div>
            <div class="infoboxes">
                
                <input type="text" class="infobox" name="usernameu" placeholder="Username" required>
                <br>
                <input type="text" class="infobox" list="subjects" placeholder="Select subject" required />
                <datalist id="subjects">
                    <option value="Literature">Literature</option>
                    <option value="Music">Music</option>
                    <option value="Physics">Physics</option>
                    <option value="Mathematics">Mathematics</option>
                    <option value="Computing">Computing</option>
                    <option value="Geography">Geography</option>
                    <option value="General Paper">General Paper</option>
                    <option value="Project Work">Project Work</option>
                    <option value="Chinese">Chinese</option>
                    <option value="Malay">Malay</option>
                    <option value="Tamil">Tamil</option>
                    <option value="French">French</option>
                    <option value="German">German</option>
                    <option value="Japanese">Japanese</option>
                    <option value="CLL">Chinese Language and Literature</option>
                    <option value="CSC">China Studies (Chinese)</option>
                    <option value="ELL">English Language and Linguistics</option>
                    <option value="Economics">Economics</option>
                    <option value="History">History</option>
                    <option value="Art">Art</option>
                    <option value="Biology">Biology</option>
                    <option value="Chemistry">Chemistry</option>
                    <option value="Further Mathematics">Further Mathematics</option>
                </datalist>
                <br>
                <input type="date" class="infobox" placeholder="Select year that the notes were made" required>
                <br>
                <input type="text" class="infobox" placeholder="Title of notes" required>
                <br>
                <input type="text" class="infobox" placeholder="Brief description of notes" required>
                <br>
                <label class="uploadfile">
                <input type="file" class="infobox" id="uploadfile" placeholder="Choose file(s) to upload" required>
                Choose file(s) to upload
                </label>
            </div>
        </div>
        <div class="uploadnotespg2">
            <a class="small-button">UPLOAD</a>
        </div>
        </div>
        <div class="Container2">
            <img src="https://lh6.googleusercontent.com/cuFtbzpkHc172IMXkK21sHBvkYlxkQiyrffX5-N7LAl-O_SZZROLo9Ln2PqKMqhB5bI=w2400" class="textbookspic" alt="textbooks">
        </div>
        </div>
    </body>
</html>