<!DOCTYPE HTML>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../static/css/style.css" rel="stylesheet">
    </head>
    <body>
        <div class="megacontainer1">
        <div class="navcontainer">
            <div class="tidbits-logo-pic">
                <img src="https://lh3.googleusercontent.com/w70JyEPVfIoNz9p_XIu3CDSs94m1L2meA9u9po8fDzeCG1xcr2MhP_PiKeUN_5v2psA=w2400" class="tidbits-logo" alt="tidbits-logo">
            </div>
            <div class="nav-options">
                <a style="text-decoration:none" href=""><p class="nav-profile">Profile</p></a>
                <a style="text-decoration:none" href=""><p class="nav-inventory">Inventory</p></a>
                <a style="text-decoration:none" href=""><p class="nav-notes">Notes</p></a>
                <a style="text-decoration:none" href=""><p class="nav-home">Home</p></a>
            </div>
        </div>
        <div class="Container">
        <div class="withincontainer2">
            <div class="upload">
              <h2 class="uploadnotes" style="font-family: 'DisposableDroidBB'">UPLOAD YOUR NOTES</h2>
            </div>
            <div class="infoboxes">
                
                <input type="text" class="infobox" name="usernameu" placeholder="Username" required>
                <br>
                <input type="text" class="infobox" list="subjects" placeholder="Select subject" required />
                <datalist id="subjects">
                    <option value="H1 EL">H1 Literature in English</option>
                    <option value="H2 EL">H2 Literature in English</option>
                    <option value="Music">Music</option>
                    <option value="H1 Mathematics">H1 Mathematics</option>
                    <option value="H2 Mathematics">H2 Mathematics</option>
                    <option value="H1 Geography">H1 Geography</option>
                    <option value="H2 Geography">H2 Geography</option>
                    <option value="General Paper">General Paper</option>
                    <option value="Project Work">Project Work</option>
                    <option value="H1 Economics">H1 Economics</option>
                    <option value="H2 Economics">H2 Economics</option>
                    <option value="H1 History">H1 History</option>
                    <option value="H2 History">H2 History</option>
                    <option value="Chinese">Chinese</option>
                    <option value="Malay">Malay</option>
                    <option value="Tamil">Tamil</option>
                    <option value="French">French</option>
                    <option value="German">German</option>
                    <option value="Japanese">Japanese</option>
                    <option value="CLL">Chinese Language and Literature</option>
                    <option value="CSC">China Studies (Chinese)</option>
                    <option value="H1 ELL">H1 English Language and Linguistics</option>
                    <option value="H2 ELL">H2 English Language and Linguistics</option>
                    <option value="H1 Art">H1 Art</option>
                    <option value="H2 Art">H2 Art</option>
                    <option value="H1 Physics">H1 Physics</option>
                    <option value="H2 Physics">H2 Physics</option>
                    <option value="H1 Biology">H1 Biology</option>
                    <option value="H2 Biology">H2 Biology</option>
                    <option value="H1 Chemistry">H1 Chemistry</option>
                    <option value="H2 Chemistry">H2 Chemistry</option>
                    <option value="H2 Computing">H2 Computing</option>
                    <option value="Further Mathematics">Further Mathematics</option>
                </datalist>
                <br>
                <input type="date" class="infobox" placeholder="Select year that the notes were made" required>
                <br>
                <input type="text" class="infobox" placeholder="Title of notes" required>
                <br>
                <input type="text" class="infobox" placeholder="Brief description of notes" required>
                <br>
                <label class="uploadfile">
                <input type="file" class="infobox" id="uploadfile" placeholder="Choose file(s) to upload" required>
                Choose file(s) to upload
                </label>
            </div>
        </div>
        <div class="uploadnotespg2">
            <a class="small-button">UPLOAD</a>
        </div>
        </div>
        <div class="Container2">
            <div class="pg2textbook">
                <div class="textbook-class">
                    <img src="https://lh6.googleusercontent.com/cuFtbzpkHc172IMXkK21sHBvkYlxkQiyrffX5-N7LAl-O_SZZROLo9Ln2PqKMqhB5bI=w2400" class="textbookspic" alt="textbooks">
                </div>
            </div>
        </div>
        </div>
    </body>
</html>