<!DOCTYPE html>
<html>
    <head>
        <link href="../static/css/style.css" rel="stylesheet">
        <div class="navbar">
            <img src="https://lh4.googleusercontent.com/L83j1rXXGC1Rd_GncMMxonDHWcbL2itCveV13nvx857bai1iBEXAag772hG7-yMwtNk=w2400" height=70px width=70px style="float: left; margin-top: 5px;" alt="tidbit logo">
            <a class="navbuttons" href="homepage.html">Home</a>
            <a class="navbuttons">Notes</a>
            <a class="navbuttons">Game</a>
            <a class="navbuttons" style="float: right;">Login/Register</a>
        </div>
    </head>
    <body>
        <h1 class="titles">Meet the team</h1>
        <div class="theteam" style="margin-bottom: 100px;">
            <img src="https://lh3.googleusercontent.com/B5OpWbTHSpizdyMbVUdqN-JMB2I_b-CUP689Oxsmr-eleYY2zcCVti59OtN_vsDWVdg=w2400" width=40% height=40% style="margin-bottom: 40px;">
            <p class="teamnames">Chen JingWen</p>
            <p class="teamroles">Head of Design</p>
        </div>
        <div class="theteam" style="margin-bottom: 100px;">
            <img src="https://lh3.googleusercontent.com/B5OpWbTHSpizdyMbVUdqN-JMB2I_b-CUP689Oxsmr-eleYY2zcCVti59OtN_vsDWVdg=w2400" width=40% height=40% style="margin-bottom: 40px;">   
            <p class="teamnames">Lam Yik Ting</p>
            <p class="teamroles">Head of Development</p>
        </div>
        <div class="theteam" style="margin-bottom: 100px;">
            <img src="https://lh3.googleusercontent.com/B5OpWbTHSpizdyMbVUdqN-JMB2I_b-CUP689Oxsmr-eleYY2zcCVti59OtN_vsDWVdg=w2400" width=40% height=40% style="margin-bottom: 40px;">
            <p class="teamnames">Issac Kok</p>
            <p class="teamroles">Head of Publicity</p>
        </div>
        <div class="theteam">
            <img src="https://lh3.googleusercontent.com/B5OpWbTHSpizdyMbVUdqN-JMB2I_b-CUP689Oxsmr-eleYY2zcCVti59OtN_vsDWVdg=w2400" width=40% height=40% style="margin-bottom: 40px;">
            <p class="teamnames">Anna Ni</p>
            <p class="teamroles">Design</p>
        </div>
        <div class="theteam">
            <img src="https://lh3.googleusercontent.com/B5OpWbTHSpizdyMbVUdqN-JMB2I_b-CUP689Oxsmr-eleYY2zcCVti59OtN_vsDWVdg=w2400" width=40% height=40% style="margin-bottom: 40px;">
            <p class="teamnames">Ian</p>
            <p class="teamroles">Development</p>
        </div>
        <div class="theteam">
            <img src="https://lh3.googleusercontent.com/B5OpWbTHSpizdyMbVUdqN-JMB2I_b-CUP689Oxsmr-eleYY2zcCVti59OtN_vsDWVdg=w2400" width=40% height=40% style="margin-bottom: 40px;">
            <p class="teamnames">Steven Ren</p>
            <p class="teamroles">Development</p>
        </div>
        <div class="theteam" style="width: 580px;">
            <img src="https://lh3.googleusercontent.com/B5OpWbTHSpizdyMbVUdqN-JMB2I_b-CUP689Oxsmr-eleYY2zcCVti59OtN_vsDWVdg=w2400" width=27% height=27% style="margin-bottom: 40px; margin-top: -100px; margin-left: 190px;">
            <p class="teamnames" style="margin-left: 190px;">Minjia</p>
            <p class="teamroles" style="margin-left: 190px;">Design</p>
        </div>
        <div class="theteam" style="width: 580px;">
            <img src="https://lh3.googleusercontent.com/B5OpWbTHSpizdyMbVUdqN-JMB2I_b-CUP689Oxsmr-eleYY2zcCVti59OtN_vsDWVdg=w2400" width=27% height=27% style="margin-bottom: 40px; margin-top: -100px; margin-right: 190px;">
            <p class="teamnames" style="margin-right: 190px;">Wang Hui Xuan</p>
            <p class="teamroles" style="margin-right: 190px;">Development</p>
        </div>
    </body>
</html>