/* Where to use the classes are on canvas! */
/* use onlinewebfonts.com for font family*/
@font-face {
    font-family: "Gameplay"; 
    src: url("//db.onlinewebfonts.com/t/c6767a1590c8ff7aa65a304215af915a.eot"); 
    src: url("//db.onlinewebfonts.com/t/c6767a1590c8ff7aa65a304215af915a.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/c6767a1590c8ff7aa65a304215af915a.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/c6767a1590c8ff7aa65a304215af915a.woff") format("woff"), url("//db.onlinewebfonts.com/t/c6767a1590c8ff7aa65a304215af915a.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/c6767a1590c8ff7aa65a304215af915a.svg#Gameplay") format("svg"); }

@font-face {
    font-family: "DisposableDroid BB"; 
    src: url("//db.onlinewebfonts.com/t/4c3a0d30e0b1a8cbda1a2485f56d9197.eot"); 
    src: url("//db.onlinewebfonts.com/t/4c3a0d30e0b1a8cbda1a2485f56d9197.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/4c3a0d30e0b1a8cbda1a2485f56d9197.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/4c3a0d30e0b1a8cbda1a2485f56d9197.woff") format("woff"), url("//db.onlinewebfonts.com/t/4c3a0d30e0b1a8cbda1a2485f56d9197.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/4c3a0d30e0b1a8cbda1a2485f56d9197.svg#DisposableDroid BB") format("svg"); 
}

@font-face {
    font-family: "VT323-Regular"; 
    src: url("//db.onlinewebfonts.com/t/1417df0f3cdb8da0094f648a0f41b6ef.eot"); 
    src: url("//db.onlinewebfonts.com/t/1417df0f3cdb8da0094f648a0f41b6ef.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/1417df0f3cdb8da0094f648a0f41b6ef.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/1417df0f3cdb8da0094f648a0f41b6ef.woff") format("woff"), url("//db.onlinewebfonts.com/t/1417df0f3cdb8da0094f648a0f41b6ef.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/1417df0f3cdb8da0094f648a0f41b6ef.svg#VT323") format("svg"); 
    }

/* master divs */
.container {
    font-family: "DisposableDroidBB";
    font-size: 22px;
    color: #00205d;
    display: inline-block;
    background-color: #00205d; 
    /* background: linear-gradient(to left, #edf4ff 50%, #00205d 50%); */
   /* margin: 40px 70px;
    min-width: 1160px; 
    position: relative; */
    width: 50%;
    height: 100%;
    float: left;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
}

.container2 {
    font-family: "DisposableDroidBB";
    font-size: 22px;
    color: #00205d;
    display: inline-block;
    background-color: #edf4ff; 
    /* background: linear-gradient(to left, #edf4ff 50%, #00205d 50%); */
  /*  margin: 40px 70px; */
    width: 50%;
    height: 100%;
    float: right;
    top: 0;
    right: 0;
    bottom: 0;
    position:absolute;
}

/* components */

.logo{
    position:relative; 
    margin-left: auto;
  margin-right: auto;
  top: 25%;
  bottom:25%;
  display: block;
  border: solid 15px #00205d;
  border-radius: 50%;
   
   /* padding-top: 200px;
    padding-bottom: 300px;
    padding-right: 170px;
    padding-left: 850px;
    */
}

.googlelogo{
    position: absolute;
    margin-top: 5.5%;
    margin-left: 6%;
    border: solid 2px white;
    border-radius: 50%;
    background-color: white;
}


.signin {
    font-family: "Gameplay";
    font-size: 60px;
    color: #edf4ff;
    text-align: center;
    left: 25%
}

.login {
    font-size: 25px;
    color: white;
    text-align: left;
    padding: 5px;
    margin: 0px;
}

.fusername{
    height: 40px;
}

.fpassword{
    height: 40px;
}

.dropdownmenu{
    height: 150px;
    width: 150px;
    border: none;
    background-color: #edf4ff;
    position: absolute;
    top:0;
     right:0;
}


.signin-button {
    font-size: 32px;
    color: white;
    background-color: #7b96d4;
    border-radius: 10px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    padding: 5px 50px;
}

.signin-button:hover {
    background-color: #5270a8;
    transition: 0.2s;
}

.signin-goo {
    font-size: 25px;
    color: white;
    background-color: rgb(255,255,255,0.5);
    border-radius: 10px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    padding: 10px 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.signin-goo:hover {
    background-color: #5270a8;
    transition: 0.2s;
}

.register {
    font-size: 23px;
    color: #edf4ff;
    text-align: right;
    text-decoration: underline;
    cursor: pointer;
}


/* mini divs within container div*/
.withincontainer{
    display: flex;
  flex-direction: column;
  position:relative; 
    margin-left: auto;
  margin-right: auto;
  top: 20%;
  bottom:20%;
  justify-content: center;
}

.loginclass{
display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 25%;
  margin-right: 25%;
}

.passwordclass{
display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 25%;
  margin-right: 25%;
}

.kmliclass{
display: inline;
  vertical-align: middle;
  justify-content: center;
  margin-left: 25%;
  margin-right: 25%;
}

.buttonsclass{
    display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 25%;
  margin-right: 25%;
}

.registerclass{
    display: block;
  justify-content: right;
  margin-left: 63%;
  margin-right: 25%;
  margin-top: 25%;

}

/* General style of the pages */
* {
    font-family: "DisposableDroid BB";
    font-size: 1.8vw;
    color: #00205d;
}

body {
    background-color: #edf4ff;
    margin: 2.3vw 6vw 0 6vw;
    box-sizing: border-box;
}

.tidbitslogo {
    float: left;
    height: 5vw; 
    width: 5vw;
}

.navbar {
    background-color: #edf4ff;
    display: flex;
    align-items: center;
    position: sticky;
    z-index: 1;
}

.navbuttons {
    float: left;
    font-size: 1.7vw;
    color: #00205d;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    padding: 0.8vw 1.7vw;
    margin: 1.7vw;
}

.navbuttons:hover {
    color: #5270a8;
    transition: 0.2s;
}

.dropbtn {
    position: relative;
    background-color: #edf4ff;
    top: 0.4vh;
    cursor: pointer;
    border: none;   
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 13.7vw;
    z-index: 1;
}

.dropdown-content a {
    color: #00205d;
    padding: 1vw 1.3vw;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
    cursor: pointer;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.scroll {
    overflow-y: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0.8vw;
}

::-webkit-scrollbar-thumb {
    background: #70a6ff;
    border-radius: 0.4vw;
}

::-webkit-scrollbar-thumb:hover {
    background: #5270a8;
}

.titles {
    font-family: Gameplay;
    font-size: 4.2vw;
    color: #112242;
    text-align: center;
}

.big-button {
    font-family: "DisposableDroid BB";
    font-size: 1.8vw;
    color: white;
    background-color: #00205d;
    border-radius: 2.1vw;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    padding: 0.9vw 2.1vw;
}

.big-button:hover {
    background-color: #5270a8;
    transition: 0.2s;
}

/* Canvas: Page 2 - LP1 (homepage.html) */
.homepgbody {
    display: grid;
    grid-template-columns: auto auto;
    align-items: flex-start;
}

.item1 {
    margin-right: 45%;
}

.pizzaimage {
    float: right;
    height: 120%;
    width: 120%;
    transform: translateY(-20vh);
}

#bluebackg {
    float: right;
    position: absolute;
    background-color: #5270a8;
    padding: 35vh 30vh;
    transform: translateX(6vh);
    z-index: -1;
}

/* Canvas: Page 3 - LP2 (aboutus.html) */
.aboutuspara{
    display: grid;
    grid-template-columns: auto auto;
    align-items: flex-start;
}

.studentpic {
    width: 40%; 
    height: 40%;
    transform: translateX(20vh);
}

/* Canvas: Page 4 - LP3 (the_team.html) */
.teamcol_three {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: start;
    margin-bottom: 3.4vw;
    text-align: center;
    margin-top: 3.4vw;
}

.teamcol_two {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: start;
    margin-bottom: 3.4vw;
    text-align: center;
    margin-top: 3.4vw;
}

.teampic_three {
    width: 40%; 
    height: 40%; 
} 

.teampic_two {
    width: 27%; 
    height: 27%; 
}

.teamnames {
    font-size: 3vw;
    color: #112242;
    text-align: center;
    margin: 2.5vw 0 0 0;
}

.teamroles {
    font-family: VT323-Regular;
    font-size: 2.1vw;
    color: #112242;
    text-align: center;
    margin: 0;
}

.bio_three {
    text-align: justify; 
    text-align-last:center; 
    padding-left: 3.4vw; 
    padding-right: 3.4vw;
}

.bio_two {
    text-align: justify; 
    text-align-last:center; 
    padding-left: 8.6vw; 
    padding-right: 8.6vw;
}

/* Canvas: Page 10 - Game (notes_sharing_1.html) */
.bookspic {
    width: 20%; 
    height: 20%;
    transform: translateX(27vh);
}

.mainnotes{
    display: grid;
    grid-template-columns: auto auto;
    align-items: flex-start;
    gap: 0px;
}

.upload {
    grid-column-start: 1;
    grid-column-end: 1.5;
  }

  .browse {
    grid-column-start: 1.5;
    grid-column-end: 3;
  }

.titlessmall {
    font-family: Gameplay;
    font-size: 2.5vw;
    color: #112242;
    text-align: center;
}

.titlessmallwhite {
    font-family: Gameplay;
    font-size: 2.5vw;
    color:#edf4ff;
    text-align: center;
}

.big-big-button {
    font-family: "DisposableDroid BB";
    font-size: 2.4vw;
    color: white;
    background-color: #00205d;
    border-radius: 2.1vw;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    padding: 0.9vw 2.1vw;
}

.big-big-button:hover {
    background-color: #5270a8;
    transition: 0.2s;
}

.titlessmall {
    font-family: Gameplay;
    font-size: 3vw;
    color: #112242;
    text-align: center;
}

.biggest-button {
    font-family: "DisposableDroid BB";
    font-size: 3.5vw;
    color: #00205d;
    background-color: #edf4ff;
    border-radius: 2.1vw;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    padding: 0.9vw 2.1vw;
}

.biggest-button:hover {
    background-color: #5270a8;
    transition: 0.2s;
}

/* Not too sure where these are meant for for now */

.alignRight, .alignLeft {
    margin: 10px;
}
.alignRight li, .alignLeft li {
    list-style-type: none;
    display: inline-block;
}

.alignRight li a, .alignLeft li a {
    text-decoration: none;
    border-radius: 10px;
    display: block;
    width: 100%;
    height: 100%;
    font-size: 20px;
}

.alignRight li a:hover, .alignLeft li a:hover {
    background-color: cyan;
}

.profilePageSmall, .profilePageLarge {
    text-align: center;
    margin: 1%;
    background-color: #FAE7E0;
    border-radius: 25px;
}
.profilePageSmall {
    padding-top: 2%; padding-bottom: 2%;
    padding-left: 0.5%; padding-right: 0.5%;
    width: 35%;
}

.profilePageLarge {
    height: 200px;
    width: 72%;
}




