/* Canvas: LP - Login */
/* use onlinewebfonts.com for font family*/
@font-face {
    font-family: "Gameplay"; 
    src: url("//db.onlinewebfonts.com/t/c6767a1590c8ff7aa65a304215af915a.eot"); 
    src: url("//db.onlinewebfonts.com/t/c6767a1590c8ff7aa65a304215af915a.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/c6767a1590c8ff7aa65a304215af915a.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/c6767a1590c8ff7aa65a304215af915a.woff") format("woff"), url("//db.onlinewebfonts.com/t/c6767a1590c8ff7aa65a304215af915a.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/c6767a1590c8ff7aa65a304215af915a.svg#Gameplay") format("svg"); }

@font-face {
    font-family: "DisposableDroidBB"; 
    src: url("//db.onlinewebfonts.com/t/249f9330482c8b6305b62435c8adfcf2.eot"); 
    src: url("//db.onlinewebfonts.com/t/249f9330482c8b6305b62435c8adfcf2.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/249f9330482c8b6305b62435c8adfcf2.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/249f9330482c8b6305b62435c8adfcf2.woff") format("woff"), url("//db.onlinewebfonts.com/t/249f9330482c8b6305b62435c8adfcf2.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/249f9330482c8b6305b62435c8adfcf2.svg#DisposableDroid BB") format("svg"); 
    }

@font-face {
    font-family: "VT323-Regular"; 
    src: url("//db.onlinewebfonts.com/t/1417df0f3cdb8da0094f648a0f41b6ef.eot"); 
    src: url("//db.onlinewebfonts.com/t/1417df0f3cdb8da0094f648a0f41b6ef.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/1417df0f3cdb8da0094f648a0f41b6ef.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/1417df0f3cdb8da0094f648a0f41b6ef.woff") format("woff"), url("//db.onlinewebfonts.com/t/1417df0f3cdb8da0094f648a0f41b6ef.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/1417df0f3cdb8da0094f648a0f41b6ef.svg#VT323") format("svg"); 
    }
/*
body {
    font-family: "DisposableDroidBB";
    font-size: 22px;
    color: #00205d;
    display: inline-block;
    background-color: #edf4ff; 
     background: linear-gradient(to left, #edf4ff 50%, #00205d 50%); 
    text-align: left;
    margin: 40px 70px;
    min-width: 1160px;
    position: absolute;
    width: 1160px;
    height: 85px;
}
*/

/* master divs */
.container {
    font-family: "DisposableDroidBB";
    font-size: 22px;
    color: #00205d;
    display: inline-block;
    background-color: #00205d; 
    /* background: linear-gradient(to left, #edf4ff 50%, #00205d 50%); */
   /* margin: 40px 70px;
    min-width: 1160px; 
    position: relative; */
    width: 50%;
    height: 100%;
    float: left;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
}

.container2 {
    font-family: "DisposableDroidBB";
    font-size: 22px;
    color: #00205d;
    display: inline-block;
    background-color: #edf4ff; 
    /* background: linear-gradient(to left, #edf4ff 50%, #00205d 50%); */
  /*  margin: 40px 70px; */
    width: 50%;
    height: 100%;
    float: right;
    top: 0;
    right: 0;
    bottom: 0;
    position:absolute;
}

.megacontainer{
    width: 100%;
    height: 100%;
}

.tidbitslogo{
    position: relative; 
  margin: auto;
  margin-top: -6%;
  top: 25vh;
  display: flex;
  border: solid 1vw #00205d;
  border-radius: 50%;
  width: 50%;
  justify-content: center;
}



.login {
    font-size: 25px;
    color: white;
    text-align: left;
    padding: 5px;
    margin: 0px;
}

/* for phones: landscape*/

.fusername{
    height: 1rem;
    font-family: "DisposableDroidBB";
    font-size: 2rem;
}

.fpassword{
    height: 1rem;
    font-family: "DisposableDroidBB";
    font-size: 2rem;
}

.signin {
    font-family: "Gameplay";
    font-size: 150%;
    color: #edf4ff;
    text-align: center;
    left: 25%;
    margin-top: -10%;
}

.tidbitslogo{
    position: relative; 
  margin: auto;
  margin-top: -13%;
  top: 35vh;
  display: flex;
  border: solid 1vw #00205d;
  border-radius: 50%;
  width: 40%;
  justify-content: center;
}
 
 .signin-goo {
    font-size: 85%;
    color: white;
    background-color: rgb(255,255,255,0.5);
    border-radius: 10px;
    display: inline-block;
    text-align: right;
    text-decoration: none;
    cursor: pointer;
    padding: 5% 10%;
    margin-top: 3%;
    height: 50%;
    line-height: 100%;
        margin-bottom: 0%;
}

.span1{
    line-height: 100%;
}
.span2{
    line-height: 200%;
}

.googlelogo{
    position: absolute;
    margin-top: 8%;
    margin-left: 6%;
    border: solid 2px white;
    border-radius: 50%;
    background-color: white;
    float: left;
    height: 8%;
}

.registerclass{
    display: block;
  justify-content: right;
  margin-left: 63%;
  margin-right: 25%;
  margin-top: 21%;
}

.signin-button {
    font-size: 120%;
    color: white;
    background-color: #7b96d4;
    border-radius: 10px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    padding: 10px 50px;
    height: 50%;
    line-height: 40%;
        margin-top: 0%;

}
.buttonsclass{
    display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 25%;
  margin-right: 25%;
  height: 5rem;
}

/* Canvas: Page 3 - LP2 (aboutus.html) */
.aboutuspara{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    flex-direction: column;
    top: 50%;
    left: 50%;
    margin-top: -1%;
    margin-left: 5%;
    margin-right: 2%;
}

.studentpic {
    width: 80%; 
    justify-self: center;
    margin-left: 10%;
    margin-bottom: 1%;
    margin-top: -2%;
}


.tidbitslogoaboutus{
    float: left;
    height: 5vw; 
    width: 5vw;
}
.aboutuspage{
    height: 100%;
    width: 100%;
}
.item1aboutus {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: -0vw;
    align-items: center;
    top: 50%;
    left: 50%;
}

.item2aboutus{
    margin-left: 10vh; 
    transform: translateY(1vh); 
    text-align: justify;
    margin-right: 2vh;
    margin-top: -3vh;
}

.dropbtnimage{
    height: 8vh;
}
.titles {
    font-family: Gameplay;
    font-size: 3.5vw;
    color: #112242;
    text-align: center;
}
.item2description{
    font-family: "DisposableDroidBB";
    font-size: 145%;
    line-height: 110%;
    width: 57vw;
    float: right;
    margin-bottom: 0vh;
    margin-left: -10vw;
}
.big-button {
    font-family: "DisposableDroidBB";
    font-size: 2.5vw;
    color: white;
    background-color: #00205d;
    border-radius: 3vw;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    padding: 0.9vw 2.1vw;
    justify-self: center;
    margin-left: 25%;
    line-height: 3vw;
}

.navbar {
    background-color: #edf4ff;
    display: flex;
    align-items: center;
    position:sticky;
    z-index: 1;
    margin-left: 3%;
    margin-right: 3%;
}


.navbuttons {
    font-family: "DisposableDroidBB";
    float: left;
    font-size: 145%;
    color: #00205d;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    padding: 0.8vw 1.7vw;
    margin: 1.7vw;
}

.dropdown-content a {
    color: #00205d;
    padding: 1vw 1.3vw;
    text-decoration: none;
    display: block;
    left: auto !important;
    right: 0 !important;
    font-family: "DisposableDroidBB";
    font-size: 145%;
}



/* for others like ipads and macs*/
 @media (orientation:landscape) 
 and (min-width: 1000px) { 
    .fusername{
    height: 3rem;
    min-height: 1rem;
    font-family: "DisposableDroidBB";
    font-size: 2rem;
}

.fpassword{
    height: 3rem;
        min-height: 1rem;
    font-family: "DisposableDroidBB";
    font-size: 2rem;
}
.signin {
    font-family: "Gameplay";
    font-size: 280%;
    color: #edf4ff;
    text-align: center;
    left: 25%;
}

.signin-goo {
    font-size: 100%;
    color: white;
    background-color: rgb(255,255,255,0.5);
    border-radius: 10px;
    display: inline-block;
    text-align: right;
    text-decoration: none;
    cursor: pointer;
    padding: 3% 10%;
    margin-top: 3%;
    height: 50%;
    line-height: 150%;
        margin-bottom: 0%;

}

.span1{
    line-height: 200%;
}
.span2{
    line-height: 300%;
}

.googlelogo{
    position: absolute;
    margin-top: 8%;
    margin-left: 6%;
    border: solid 2px white;
    border-radius: 50%;
    background-color: white;
    float: left;
}

.registerclass{
    display: block;
  justify-content: right;
  margin-left: 63%;
  margin-right: 25%;
  margin-top: 35%;
}

.signin-button {
    font-size: 130%;
    color: white;
    background-color: #7b96d4;
    border-radius: 10px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    padding: 5px 50px;
    height: 50%;
    line-height: 100%;
        margin-top: 0%;

}

.buttonsclass{
    display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 25%;
  margin-right: 25%;
  height: 6rem;
}


/* LP - about us*/
.titles {
    font-family: Gameplay;
    font-size: 4.2vw;
    color: #112242;
    text-align: center;
}
.item2description{
    font-family: "DisposableDroidBB";
    font-size: 120%;
    line-height: 110%;
    width: 45vw;
}
.big-button {
    font-family: "DisposableDroidBB";
    font-size: 2.3vw;
    color: white;
    background-color: #00205d;
    border-radius: 2.1vw;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    padding: 0.9vw 2.1vw;
    justify-self: center;
    margin-left: 20%;
}

.aboutuspage{
    height: 100%;
    width: 100%;
}


.item2aboutus{
    margin-left: 15vh; 
    transform: translateY(3vh); 
    text-align: justify;
    margin-right: 10vh;
}
.item1aboutus {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 5vw;
    margin-right: -0vw;
    align-items: center;
    top: 50%;
    left: 50%;
}
.aboutuspara{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    flex-direction: column;
    top: 50%;
    left: 50%;
    margin-top: 3%;
    margin-left: 5%;
    margin-right: 5%;

}
.studentpic {
    width: 70%; 
    justify-self: center;
    margin-left: 10%;
    margin-bottom: 5%;
    margin-top: 0%;
}
.navbar {
    background-color: #edf4ff;
    display: flex;
    align-items: center;
    position:sticky;
    z-index: 1;
    margin-left: 5%;
    margin-right: 5%;
}


.navbuttons {
    font-family: "DisposableDroidBB";
    float: left;
    font-size: 120%;
    color: #00205d;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    padding: 0.8vw 1.7vw;
    margin: 1.7vw;
}
.dropbtnimage{
    height: 5vh;
    }

    .tidbitslogoaboutus{
    float: left;
    height: 5vw; 
    width: 5vw;
}

.dropdown-content a {
    color: #00205d;
    padding: 1vw 1.3vw;
    text-decoration: none;
    display: block;
    left: auto !important;
    right: 0 !important;
    font-family: "DisposableDroidBB";
     font-size: 120%;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #A7C8FF;
    width: 30vw;
    min-width: 13.7vw;
    z-index: 1;
    left: auto !important;
    right: 0 !important;
}

 }

/* potrait views*/
 @media (orientation: portrait){
/* Canvas: LP-Log in page */
.fusername{
    height: 3rem;
    min-height: 1rem;
    font-family: "DisposableDroidBB";
    font-size: 2rem;
}

.fpassword{
    height: 3rem;
        min-height: 1rem;
    font-family: "DisposableDroidBB";
    font-size: 2rem;
}
.signin {
    font-family: "Gameplay";
    font-size: 280%;
    color: #edf4ff;
    text-align: center;
    left: 25%;
}

.tidbitslogo{
    position: relative; 
  margin: auto;
  margin-top: -6%;
  top: 35vh;
  display: flex;
  border: solid 1vw #00205d;
  border-radius: 50%;
  width: 50%;
  justify-content: center;
}

.signin-goo {
    font-size: 80%;
    color: white;
    background-color: rgb(255,255,255,0.5);
    border-radius: 10px;
    display: inline-block;
    text-align: right;
    text-decoration: none;
    cursor: pointer;
    padding: 10px 20px;
    margin-top: 5%;
    margin-right: 0%;
    height: 50%;
   line-height: 150%;
       margin-bottom: 0em;
}

.span1{
    line-height: 200%;
}
.span2{
    line-height: 300%;
}

.googlelogo{
    position: absolute;
    margin-top: 10.5%;
    margin-left: 2%;
    border: solid 2px white;
    border-radius: 50%;
    background-color: white;
    float: left;
    height: 2%;
}

.registerclass{
    display: block;
  justify-content: right;
  margin-left: 63%;
  margin-right: 25%;
  margin-top: 55%;
}

.signin-button {
    font-size: 140%;
    color: white;
    background-color: #7b96d4;
    border-radius: 10px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    padding: 5px 50px;
    height: 50%;
    line-height: 100%;
    margin-top: 0%;
}

.buttonsclass{
    display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 25%;
  margin-right: 25%;
  height: 6rem;
}




/* Canvas: Page 3 - LP2 (aboutus.html) */
  .aboutuspara{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    flex-direction: column;
    top: 50%;
    left: 50%;
    margin-top: 2%;
    margin-left: 10%;
    }

    .aboutuspage{
    height: 100%;
    width: 100%;
    }   

    .dropbtnimage{
    height: 3vh;
    }
    .studentpic {
    width: 150%; 
    justify-self: center;
    margin-left: -25%;
    margin-bottom: 50%;
    margin-top: 20%;
}

    .titles {
    font-family: Gameplay;
    font-size: 8vw;
    color: #112242;
    text-align: center;
    margin-top: -25vw;
    }

.item2description{
    font-family: "DisposableDroidBB";
    font-size: 270%;
    line-height: 110%;
    width: 48vw;
    margin-bottom: 2vw;
    margin-left: -3vw;
    text-align: justify;
}

.big-button {
    font-family: "DisposableDroidBB";
    font-size: 5vw;
    color: white;
    background-color: #00205d;
    border-radius: 6vw;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    padding: 1.5vw 2.1vw;
    justify-self: center;
    margin-left: 9%;
    width: 70%;
    line-height: 10vw;
}

.item2aboutus{
    margin-left: 10vh; 
    transform: translateY(4vh); 
    text-align: justify;
    margin-right: 10vh;
}
.item1aboutus {
    margin-top: 40vw;
    margin-bottom: 0;
    margin-left: -5vw;
    margin-right: -5vw;
    align-items: center;
    top: 50%;
    left: 50%;
}
.navbar {
    background-color: #edf4ff;
    display: flex;
    align-items: center;
    position:sticky;
    z-index: 1;
    margin-left: 5%;
    margin-right: 5%;
}

.navbuttons {
    font-family: "DisposableDroidBB";
    float: left;
    font-size: 3.5vw;
    color: #00205d;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    padding: 0.8vw 1.7vw;
    margin: 1.7vw;
}
.tidbitslogoaboutus{
    float: left;
    height: 6vw; 
    width: 6vw;
    transform: translateY(0.3vh); 
    margin-right: 1vw;
}

.dropdown-content a {
    color: #00205d;
    padding: 1vw 1.3vw;
    text-decoration: none;
    display: block;
    left: auto !important;
    right: 0 !important;
    font-family: "DisposableDroidBB";
    font-size: 3.5vw;
    height: 5vh;
    z-index: 1;
    text-align: center;
    vertical-align: middle;
    line-height: 5vh;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #A7C8FF;
    width: 30vw;
    min-width: 13.7vw;
    z-index: 1;
    left: auto !important;
    right: 0 !important;

}

 }



.dropdownmenu{
    height: 4rem;
    width: 4rem;
    border: none;
    background-color: #edf4ff;
    position: absolute;
    top:0;
     right:0;
}

.buttonmenu{
    height: 70%;
}



.signin-button:hover {
    background-color: #5270a8;
    transition: 0.2s;
}



.signin-goo:hover {
    background-color: #5270a8;
    transition: 0.2s;
}

.register {
    font-size: 100%;
    color: #edf4ff;
    text-align: right;
    text-decoration: underline;
    cursor: pointer;
}



/* mini divs within container div*/
.withincontainer{
    display: flex;
  flex-direction: column;
  position:relative; 
    margin-left: auto;
  margin-right: auto;
  top: 20%;
bottom: 10%;
  justify-content: center;
  height: 50vh;
  width: 50vw;
  min-height: 10vh;
  min-width: 10vw;
  
}

.loginclass{
display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 25%;
  margin-right: 25%;
}

.passwordclass{
display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 25%;
  margin-right: 25%;
}

.kmliclass{
display: inline;
  vertical-align: middle;
  justify-content: center;
  margin-left: 25%;
  margin-right: 25%;
}





/* General style of the pages */
* {
    font-family: "DisposableDroid BB";
    font-size: 1.8vw;
    color: #00205d;
}

body {
    background-color: #edf4ff;
    margin: 2.3vw 6vw 0 6vw;
    box-sizing: border-box;
    margin: 0;
}

/*
.tidbitslogo {
    float: left;
    height: 5vw; 
    width: 5vw;
} */


.navbuttons:hover {
    color: #5270a8;
    transition: 0.2s;
}

.dropbtn {
    position: relative;
    background-color: #edf4ff;
    top: 0.4vh;
    cursor: pointer;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #A7C8FF;
    width: 30vw;
    min-width: 13.7vw;
    z-index: 1;
    left: auto !important;
    right: 0 !important;

}

.dropdown-content a:hover {
    background-color: #ddd;
    cursor: pointer;
}


.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.scroll {
    overflow-y: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0.8vw;
}

::-webkit-scrollbar-thumb {
    background: #70a6ff;
    border-radius: 0.4vw;
}

::-webkit-scrollbar-thumb:hover {
    background: #5270a8;
}





.big-button:hover {
    background-color: #5270a8;
    transition: 0.2s;
}

/* Canvas: Page 2 - LP1 (homepage.html) */
.homepgbody {
    display: grid;
    grid-template-columns: auto auto;
    align-items: flex-start;
}

.item1 {
    margin-right: 45%;
}

.pizzaimage {
    float: right;
    height: 120%;
    width: 120%;
    transform: translateY(-20vh);
}

#bluebackg {
    float: right;
    position: absolute;
    background-color: #5270a8;
    padding: 35vh 30vh;
    transform: translateX(6vh);
    z-index: -1;
}







/*PUT BACK HEREEEEEEEE*/








/* Canvas: Page 4 - LP3 (the_team.html) */
.teamcol_three {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: start;
    margin-bottom: 3.4vw;
    text-align: center;
    margin-top: 3.4vw;
}

.teamcol_two {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: start;
    margin-bottom: 3.4vw;
    text-align: center;
    margin-top: 3.4vw;
}

.teampic_three {
    width: 40%; 
    height: 40%; 
} 

.teampic_two {
    width: 27%; 
    height: 27%; 
}

.teamnames {
    font-size: 3vw;
    color: #112242;
    text-align: center;
    margin: 2.5vw 0 0 0;
}

.teamroles {
    font-family: VT323-Regular;
    font-size: 2.1vw;
    color: #112242;
    text-align: center;
    margin: 0;
}

.bio_three {
    text-align: justify; 
    text-align-last:center; 
    padding-left: 3.4vw; 
    padding-right: 3.4vw;
}

.bio_two {
    text-align: justify; 
    text-align-last:center; 
    padding-left: 8.6vw; 
    padding-right: 8.6vw;
}

/* Canvas: Page 10 - Game (notes_sharing_1.html) */
.bookspic {
    width: 20%; 
    height: 55%;
    transform: translateX(44vh);
}



.browsetitle{
    position: relative;
    top: 15vh;
}

.donatetitle{
    position: relative;
    top: 0vh;
}

.titlessmall {
    font-family: Gameplay;
    font-size: 2.8vw;
    color: #112242;
    text-align: center;
}


.titlessmallwhite {
    font-family: Gameplay;
    font-size: 2.8vw;
    color:#edf4ff;
    text-align: center;

}

.big-big-button {
    font-family: "DisposableDroidBB";
    font-size: 2.6vw;
    color: white;
    background-color: #00205d;
    border-radius: 2.1vw;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    padding: 0.9vw 2.1vw;
    justify-self: center;
    margin-left: 40%;
    font-weight: bold;
}

.withincontainer {
    position: relative;
    top: 22vh;
}

.big-big-button:hover {
    background-color: #5270a8;
    transition: 0.2s;
}


.biggest-button {
    font-family: "DisposableDroidBB";
    font-size: 3.2vw;
    color: #00205d;
    background-color: #edf4ff;
    border-radius: 2.8vw;
    display: inline-block;
    text-align: center;
    text-decoration: None;
    cursor: pointer;
    padding: 1.1vw 2.3vw;
    position: relative;
    margin-top: -6%;
    top: 25vh;
    justify-content: center;
    justify-self: center;
    margin-left: 30%;
}

.biggest-button2 {
    font-family: "DisposableDroidBB";
    font-size: 3.2vw;
    color: #00205d;
    background-color: #edf4ff;
    border-radius: 2.8vw;
    display: inline-block;
    text-align: center;
    text-decoration: None;
    cursor: pointer;
    padding: 1.1vw 2.3vw;
    position: relative;
    margin-top: -10%;
    top: 32vh;
    justify-content: center;
    justify-self: center;
    margin-left: 30%;
}


.biggest-button:hover {
    background-color: #5270a8;
    transition: 0.2s;
}

.biggest-button2:hover {
    background-color: #5270a8;
    transition: 0.2s;
}

.Container {
    font-family: "DisposableDroidBB";
    font-size: 22px;
    color: #00205d;
    display: inline-block;
    background-color: #edf4ff; 
    width: 50%;
    height: 100%;
    float: right;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
}

.Container2 {
    font-family: "DisposableDroidBB";
    font-size: 22px;
    color: #00205d;
    display: inline-block;
    background-color: #00205d; 
    width: 50%;
    height: 100%;
    float: left;
    top: 0;
    right: 0;
    bottom: 0;
    position:absolute;
}

.textbookspic {
    position: relative; 
    margin: auto;
    margin-top: -6%;
    top: 30vh;
    display: flex;
    width: 50%;
    justify-content: center;
}

.infobox {
    height: 1rem;
    font-family: "DisposableDroidBB";
    font-size: 1rem;
    margin-bottom: 3vh;
    width: 65%;
    padding: 1.4vh;
    background-color:#C4D1EF;
    border: none;
    border-radius: 0.2vw;
    color:#00205d;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #00205d;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #00205d;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #00205d;
  }

input[type="file"] {
    display: none;
}

.uploadfile {
    background-color:#C4D1EF;
    border: none;
    display: inline-block;
    width: 65%;
    padding: 1.4vh;
    cursor: pointer;
    font-family: "DisposableDroidBB";
    border-radius: 0.2vw;
}

.small-button {
    font-family: "DisposableDroidBB";
    font-size: 2.2vw;
    color: white;
    background-color: #00205d;
    border-radius: 2vw;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    padding: 0.3vw 2vw;
    font-weight: bold;
    position: relative;
    left: 20vh;
    top: 10vh;
}

.small-button:hover {
    background-color: #5270a8;
    transition: 0.2s;
}

.uploadnotespg2 {
    position: relative;
    left: 50vh;
}

.withincontainer2 {
    position: relative;
    left: 15vh;
    top: 5vh;
}

/* Not too sure where these are meant for for now */

.alignRight, .alignLeft {
    margin: 10px;
}
.alignRight li, .alignLeft li {
    list-style-type: none;
    display: inline-block;
}

.alignRight li a, .alignLeft li a {
    text-decoration: none;
    border-radius: 10px;
    display: block;
    width: 100%;
    height: 100%;
    font-size: 20px;
}

.alignRight li a:hover, .alignLeft li a:hover {
    background-color: cyan;
}

.profilePageSmall, .profilePageLarge {
    text-align: center;
    margin: 1%;
    background-color: #FAE7E0;
    border-radius: 25px;
}
.profilePageSmall {
    padding-top: 2%; padding-bottom: 2%;
    padding-left: 0.5%; padding-right: 0.5%;
    width: 35%;
}

.profilePageLarge {
    height: 200px;
    width: 72%;
}




